<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	{% extends 'base.html' %}
	{% block title %}Album List{% endblock %}
</head>
<body>
{% block content %}
<h1>Album Change "{{ user }}"</h1>
<br>

<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr class="table-primary" align="center">
			<th>Name</th>
			<th>Description</th>
			<th>Owner</th>
			<th>Update</th>
			<th>Delete</th>
		</tr>
	</thead>

	<tbody>
	{% for item in object_list %}
	<tr>
		<td>{{ item.name }}</td>
		<td>{{ item.description }}</td>
		<td>{{ item.owner }}</td>
		<td><a href="{% url 'photo:album_update' item.id %}">Update</a></td>
		<td><a href="{% url 'photo:album_delete' item.id %}">Delete</a></td>
	</tr>
	{% endfor %}
	</tbody>

</table>


{% endblock %}
</body>
</html>