<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	{% extends 'base.html' %}
	{% load sorl_thumbnail %}
	{% block title %}Album Detail{% endblock %}
	{% block extra-style %}
		<style>
			thumbnail {
				border: 5px solid #ccc;
			}
		</style>
	{% endblock %}
</head>
<body>
{% block content %}

	<div class="mt-5">
		<span class="h2">
			{{ object.name }}&emsp;
		</span>
		<span class="h5 font-italic">
			{{ object.description }}
		</span>
	</div>

	<hr style="margin: 0 0 20px 0;">

	<div class="row">
		{% for photo in object.photo_set.all %}
		<div class="col-md-3 mb-5">
			<div class="thumbnail">
				<a href="{{ photo.get_absolute_url }}">
					{% thumbnail photo.image "128x128" crop="center" as im %}
					<img src="{{ im.url }}" style="width:100%;">
					{% endthumbnail %}
				</a>
			</div>
			<span>
				<h3 class="font-weight-bold">
					{{ photo.title }}
				</h3>
				<span class="font-italic text-muted">
					{{ photo.upload_dt|date:"Y-m-d" }}
				</span>
			</span>
		</div>
		{% endfor %}
	</div>
{% endblock %}

</body>
</html>