<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	{% extends 'base.html' %}
	{% block title %}Post List{% endblock %}
</head>
<body>
{% block content %}
<h1>Post Change&ensp;"{{ user }}"</h1>
<br>

<table class="table table-bordered table-condensed table-striped">
	<thead align="center">
		<tr class="table-primary">
			<th>Title</th>
			<th>Description</th>
			<th>Owner</th>
			<th>Update</th>
			<th>Delete</th>
		</tr>
	</thead>

	<tbody align="center">
	{% for item in object_list %}
	<tr>
		<td>{{ item.title }}</td>
		<td align="left">{{ item.description }}</td>
		<td>{{ item.owner }}</td>
		<td><a href="{% url 'blog:update' item.id %}">Update</a></td>
		<td><a href="{% url 'blog:delete' item.id %}">Delete</a></td>
	</tr>
	{% endfor %}
	</tbody>

</table>

{% endblock %}
</body>
</html>