<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	{% extends 'base.html' %}
	{% block title %}Search{% endblock %}
</head>
<body>
{% block content %}

<div class="container">
	<h1>Blog Search</h1>
	<br>

	<form action="." method="post">
		{% csrf_token %}
		<input type="search" class="form-control" placeholder="Enter your search term." name="search_word">
	</form>

	<br>
	<br>

	{% if object_list %}
		{% for post in object_list %}
			<h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
			{{ post.modify_date|date:"N d, Y" }}
			<p>
				{{ post.description }}
			</p>
		{% endfor %}

	{% elif search_term %}
		<b><i>Search Word "{{ search_term }}" Not Found !</i></b>
	{% endif %}
</div>

{% endblock %}

</body>
</html>